@import url("styles/header.css");
:root{
    --vermelho: #5bc3ff; --fundo-preto: #00028f;
    --lìlas; #a510a5; --fundo-projeto;"Dosis";
}
body{
    background-color: var(--vermelho);
    margin: 0; font-family: var(--fundo-projeto);
 
}

